
@{
    ViewData["Title"] = "Carrinho";
}

<link rel="stylesheet" href="~/css/Carrinho.css"/>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Produto

            </th>
            <th>
                Valor

            </th>
            <th>
                Quantidade

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>


<div class="row">
<div>
    <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Home">Adicionar itens</a>
        <a class="btn btn-outline-success" asp-action="Finalizado">Finalizar Compra</a>
</div>
</div>

<script src="~/js/cart.js"></script>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
