
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/BoloFesta.css" />

<div class="toolbar">
    <h1 class="brand">Bolos de Festa:</h1>
    <br>
    <p>
        <a asp-controller="Carrinho" asp-action="Carrinho">
            Itens no Carrinho:
            <span id="count">0</span>, Total:
            <span id="sum">0</span>
        </a>
    </p>
</div>


<div class="products">
    <div class="product">
        <h3>Bolo 1 Receita</h3>
        <p class="img-bolo">
            <img  src="~/img/boloflores.png" />Valor: R$230,00
        </p>
        <select name="" id="">
            <option value="" selected>Selecione o recheio</option>
            <option value="Ninho c/ Morango">Ninho c/ Morango</option>
            <option value="Chocolate">Chocolate</option>
            <option value="Morango">Morango</option>
            <option value="Doce de Leite">Doce de Leite</option>
            <option value="Abacaxi">Abacaxi</option>
        </select>
        <br>
        <select name="" id="">
            <option value="" selected>Selecione a Massa</option>
            <option value="Massa Branca">Massa Branca</option>
            <option value="Massa de Chocolate">Massa De chocolate</option>
        </select>
        <button data-id="2" data-price="230.00" data-title="Bolo 1 Receita">Adicionar ao carrinho</button>
    </div>

    <div class="product">
        <h3>Bolo 1/2 Receita</h3>
        <p class="img-bolo">
            <img src="~/img/bolomaracuja.png" />Valor: R$ 180,00
        </p>
        <select name="" id="">
            <option value="" selected>Selecione o recheio</option>
            <option value="Ninho c/ Morango">Ninho c/ Morango</option>
            <option value="Chocolate">Chocolate</option>
            <option value="Morango">Morango</option>
            <option value="Doce de Leite">Doce de Leite</option>
            <option value="Abacaxi">Abacaxi</option>
        </select>
        <br>
        <select name="" id="">
            <option value="" selected>Selecione a Massa</option>
            <option value="Massa Branca">Massa Branca</option>
            <option value="Massa de Chocolate">Massa De chocolate</option>
        </select>
        <button data-id="4" data-price="180.00" data-title="Bolo 1/2 Receita">Adicionar no carrinho</button>
    </div>

    <div class="product">
        <h3>Bolo 1/4 (24 Fatias)</h3>
        <p class="img-bolo">
            <img  src="~/img/bolobranco.png" />Valor: R$140,00
        </p>
        <select name="" id="">
            <option value="" selected>Selecione o recheio</option>
            <option value="Ninho c/ Morango">Ninho c/ Morango</option>
            <option value="Chocolate">Chocolate</option>
            <option value="Morango">Morango</option>
            <option value="Doce de Leite">Doce de Leite</option>
            <option value="Abacaxi">Abacaxi</option>
        </select>
        <br>
        <select name="" id="">
            <option value="" selected>Selecione a Massa</option>
            <option value="Massa Branca">Massa Branca</option>
            <option value="Massa de Chocolate">Massa De chocolate</option>
        </select>
        <button data-id="1" data-price="140.00" data-title="Bolo 1/2 Receita">Adicionar ao carrinho</button>
    </div>


    <div class="product">
        <h3>Bolo 15 Fatias</h3>
        <p class="img-bolo">
            <img  src="~/img/bolosonic.jpeg" />Valor: 100,00
        </p>
        <select name="" id="">
            <option value="" selected>Selecione o recheio</option>
            <option value="Ninho c/ Morango">Ninho c/ Morango</option>
            <option value="Chocolate">Chocolate</option>
            <option value="Morango">Morango</option>
            <option value="Doce de Leite">Doce de Leite</option>
            <option value="Abacaxi">Abacaxi</option>
        </select>
        <br>
        <select name="" id="">
            <option value="" selected>Selecione a Massa</option>
            <option value="Massa Branca">Massa Branca</option>
            <option value="Massa de Chocolate">Massa De chocolate</option>
        </select>
        <button data-id="3" data-price="100.00" data-title="Bolo 15 Fatias">Adicionar ao carrinho</button>
    </div>
</div>







