 @model TelmaBolos.Models.Login
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
<link rel="icon" href="~/img/logo.png" type="image" width="32" height="32">

<div class="container_l d-flex justify-content-center">
    <div class="form-image">
        <img src="~/img/logotipo.png" alt="">
        <a asp-controller="Home" asp-action="Index" class="botao">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-x-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
        </a>
    </div>
    <div class="form">
        <form method="post" action="/Login/Continuar">
            <div class="form-header">
                <div class="title">
                    <h1>Login</h1>
                </div>

                <div class="login-button">
                    <a asp-controller="Cadastro" asp-action="Cadastro">Cadastrar-se</a>
                </div>
            </div>

            <div class="input-group">

                <div class="input-box email-form">
                    <label for="email">E-mail</label>
                    <input asp-for="emailcliente" id="email" type="email" name="emailcliente" placeholder="Digite seu e-mail" required>
                </div>

                <div class="input-box password-form">
                    <label for="password">Senha</label>
                    <input asp-for="senhacliente" id="password" type="password" name="senhacliente" placeholder="Digite sua senha" required>
                </div>
            </div>

                <button type="submit" class="continue-button">Continuar</button>

        </form>
    </div>
</div>