@{
    ViewData["Title"] = "Home Page";
}
 
    <main>
        <!--Inicio do Carrosel-->
        <div id="carouselExampleFade" class="carousel slide carousel-fade ">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/bemvindo.png" class="d-block w-100" alt="Categoria  1">
                </div>
                <div class="carousel-item">
                    <img src="img/banner.jpg" class="d-block w-100" alt="Categoria 2">
                </div>
                <div class="carousel-item">
                    <img src="img/final.jpg" class="d-block w-100" alt="Categoria 3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <!--Fim do Carrosel-->
        </div>
        <br>

    <div class="home-container">
        <div class="destaques">
            <h1>Destaques</h1>
            <div class="container-destaques">
                <div class="destaques-card">
                    <div class="destaques-card-header">
                        <img src="~/img/bolomorango.png" alt="">
                    </div>
                    <div class="destaques-card-body">
                        <h3 class="card-body-frase">Perfeito para qualquer ocasião!</h3>
                        <p class="card-body-desc">
                            Bolo de pote de 2kg ou 1kg. Possui duas camadas de massa, e duas camadas de recheio de sua preferência!
                        </p>
                        <div class="card-body-footer">
                            <a asp-controller="BoloDePote" asp-action="BoloDePote">Ver mais</a>
                        </div>
                    </div>
                </div>
                <div class="destaques-card">
                    <div class="destaques-card-header">
                        <img src="~/img/bolocaseiro.png" alt="">
                    </div>
                    <div class="destaques-card-body">
                        <h3 class="card-body-frase">Perfeito para qualquer ocasião!</h3>
                        <p class="card-body-desc">
                            Bolo de pote de 2kg ou 1kg. Possui duas camadas de massa, e duas camadas de recheio de sua preferência!
                        </p>
                        <div class="card-body-footer">
                            <a asp-controller="BoloCaseiro" asp-action="BoloCaseiro">Ver mais</a>
                        </div>
                    </div>
                </div>
                <div class="destaques-card">
                    <div class="destaques-card-header">
                        <img src="~/img/boloflores.png" alt="">
                    </div>
                    <div class="destaques-card-body">
                        <h3 class="card-body-frase">Perfeito para qualquer ocasião!</h3>
                        <p class="card-body-desc">
                            Bolo de pote de 2kg ou 1kg. Possui duas camadas de massa, e duas camadas de recheio de sua preferência!
                        </p>
                        <div class="card-body-footer">
                            <a asp-controller="BoloDeFesta" asp-action="BoloDeFesta">Ver mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
                crossorigin="anonymous"></script>
