@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
/*Produtos*/

.container_s {
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}




.products {
    display: flex;
    justify-content: center;
}

.product {
    width: 300px;
    border: 2px solid rgb(255, 47, 210);
    margin: 10px;
    padding: 10px;
}

    .product img {
        height: 20%;
        width: 90%;
        object-fit: cover;
    }

    .product button {
        width: 100%;
        margin-top: 2.5rem;
        border: none;
        background-color: #FF69B4;
        padding: 0.62rem;
        border-radius: 5px;
        cursor: pointer;
        color: antiquewhite;
    }

.brand {
    color: #A0522D;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mapBox {
    position: relative;
    width: 300px;
    height: 200px;
    background: #fff;
}

    .mapBox iframe {
        width: 100%;
        height: 100%;
    }

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

    .footer-col h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }

        .footer-col h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 100px;
        }

    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }

        .footer-col ul li a:hover {
            color: #ffffff;
            padding-left: 8px;
        }

    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }

        .footer-col .social-links a:hover {
            color: #24262b;
            background-color: #ffffff;
        }

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

select {
    word-wrap: normal;
    color: black;
    border-color: #FF69B4;
}

p {
    margin-top: 0%;
    margin-bottom: 1rem;
    color: #24262b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-bolopote img {
    width: 250px;
    height: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
}
