@model TelmaBolossite.Entidades.Produto

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Cadastrar Produto</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="descricaoproduto" class="control-label">Descrição do Produto</label>
                <input asp-for="descricaoproduto" class="form-control" />
                <span asp-validation-for="descricaoproduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valorproduto" class="control-label">Valor do Produto</label>
                <input asp-for="valorproduto" class="form-control" />
                <span asp-validation-for="valorproduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="unidadeproduto" class="control-label">Unidade de Produto</label>
                <input asp-for="unidadeproduto" class="form-control" />
                <span asp-validation-for="unidadeproduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Selecione a Foto</label>
                <input name="imagem" type="file" class="form-control" />
                
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label">Categoria do Produto</label>
                <select asp-for="CategoriaId" class ="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar à lista</a>
</div>

