@model TelmaBolossite.Entidades.Produto

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h1>Editar:</h1>

<h4> Alterar informações do produto:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="descricaoproduto" class="control-label">Descrição do Produto</label>
                <input asp-for="descricaoproduto" class="form-control" />
                <span asp-validation-for="descricaoproduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valorproduto" class="control-label">Valor do Produto</label>
                <input asp-for="valorproduto" class="form-control" />
                <span asp-validation-for="valorproduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="unidadeproduto" class="control-label">Unidade de Produto</label>
                <input asp-for="unidadeproduto" class="form-control" />
                <span asp-validation-for="unidadeproduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label">Categoria</label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <br />
            <div class="login-button">
                <input type="submit" value="Salvar" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-info" asp-action="Index">Retornar à lista</a>
</div>

